<!-- IMPORTS -->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-custom-toolbar">
    <!-- Optional shadow DOM template -->
    <template>
        <style include="shared-styles">
            :host {
                display: inline;
            }
        </style>

        

        <iron-ajax id="ajax" auto with-credentials="true" url="[[URL]]" handle-as="json" content-type="application/x-www-form-urlencoded"
            on-response="handleResponse" last-response="{{response}}" debounce-duration="300"></iron-ajax>

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="col-md-3">
                    <a class="navbar-brand text-success content-header-logo" href="/">#MeToobe</a>
                </div>
                <div class="col-md-6">
                    <form action="/search" method="get" class="">
                        <div class="input-group">
                            <input type="text" name="query" class="form-control" placeholder="imt2631..">
                            <span class="input-group-btn">
                                <button class="btn btn-outline-success ml-lg-1" type="submit">GO</button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-md-3">
                    <ul class="nav nav-pills float-right">
                        <li class="nav-item">
                            <a href="/playlist">
                                <i class="my-1 fas fa-list-ol fa-2x" style="color: #28a745;"></i>
                            </a>
                        </li>
                        <li>
                            <div style="width: 20px;"></div>
                        </li>

                        <!-- If user is not  -->
                        <template is="dom-if" if="{{!isStudent}}">
                            <li class="nav-item">
                                <a class="nav-link text-success" href="/upload">Upload video</a>
                            </li>
                        </template>
                        

                        <template is="dom-if" if="{{!isUser}}">
                            <li class="nav-item">
                                <a class="nav-link text-success" href="/login">Login</a>
                        </template>
                        <template is="dom-if" if="{{isUser}}">
                            <a class="nav-link text-success" href="/user?id={{ userid }}">{{user.fullname}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-success" on-click="logout" href="api/php/userLogout.php">Logout</a>
                        </template>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </template>

    <script>
        // Define the element's API using an ES2015 class
        class CustomToolbar extends Polymer.Element {
            static get is() {
                return 'my-custom-toolbar';
            }
            static get properties() {
                return {
                    URL: { // Used by iron-ajax
                        type: String,
                        value: '/api/toolbar.php'
                    },
                    userid: {
                        type: String,
                        value: ""
                    },
                    user: {
                        type: Object,
                        value: null
                    },
                    isUser: {
                        type: Boolean,
                        value: false
                    },
                    isStudent: {
                        type: Boolean,
                        value: false
                    }
                }
            };

            handleResponse(res) {
                this.set('userid', res.detail.response.userid);
                this.set('user', res.detail.response.user);
                this.set('isUser', res.detail.response.isUser);

                if(this.user.usertype == "student"){
                    this.isStudent = true;
                }
            
            }
        
            logout() {                                          // Called when user presses logout button
                this.$.ajax.method = "POST";
                this.URL = 'api/php/userLogout.php';
               
                location.reload(true);
            }
        }


        // Register the x-custom element with the browser
        window.customElements.define(CustomToolbar.is, CustomToolbar);
    </script>

</dom-module>