<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-home">
    <template>
        <style include="shared-styles">
            :host {
                display: block;


            }
        </style>
        <iron-ajax id="ajax" auto with-credentials="true" url="[[homeURL]]" handle-as="json" content-type="application/x-www-form-urlencoded"
            on-response="handleResponse" last-response="{{response}}" debounce-duration="300"></iron-ajax>

        <!-- Main jumbotron -->
        <div class="jumbotron">
            <div class="container">

                <!-- If user is admin -->
                <template is="dom-if" if="{{isAdmin}}">
                    <h4>Admin view</h4>
                    <hr>
                    <!-- If wannabeUsers is empty -->
                    <template is="dom-if" if="{{wannaBeUsersEmpty}}">
                        <p>Nothing new here.</p>
                    </template>
                    <!-- Else if wannaBeUsers is not empty -->
                    <template is="dom-if" if="{{!wannaBeUsersEmpty}}">

                        <h5>Wannabe's</h5>

                        <!-- Loop through all wannabes -->
                        <template is="dom-repeat" items="{{wannaBeUsers}}">
                            <div class="row">
                                <div class="col-md-3">
                                    <p>{{item.email}}</p>
                                </div>
                                <div class="row col-md-6">
                                    <div class="col-1">
                                        <form method="post" action="api/php/userUpdateType.php" class="form-group">
                                            <button type="submit" name="teacher" value="{{item.id}}" class="btn btn-success btn-sm">Yai!</button>
                                        </form>
                                    </div>
                                    <div class="col-1">
                                        <form method="post" action="api/php/userUpdateType.php" class="form-group">
                                            <button type="submit" name="student" value="{{item.id}}" class="btn btn-danger btn-sm">Nej!</button>
                                        </form>
                                    </div>
                                    <!-- Empty div for spacing -->
                                    <div class="col-1"></div>

                                    <div class="col-2">
                                        <form method="post" action="api/php/userUpdateType.php" class="form-group">
                                            <button type="submit" name="admin" value="{{item.id}}" class="btn btn-warning btn-sm">Admin!</button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </template>
                    </template>
                </template>

                <!-- Else, if user is not logged in -->
                <template is="dom-if" if="{{!userLoggedIn}}">
                    <hr>

                    <h1>Register now!</h1>
                    <p>Smash this button and get to it.</p>
                    <p>
                        <a class="btn btn-success btn-lg" href="/login" role="button">Register »</a>
                    </p>

                </template>

                <!-- Else, if user is logged in -->
                <template is="dom-if" if="{{userLoggedIn}}">
                    <h2>New videoes from your subscriptions</h2>
                    <div class="row my-md-1">
                        <!-- If subscribed videos is empty -->
                        <template is="dom-if" if="{{subVideosEmpty}}">
                            <div class="col-md-12">
                                <h2 class="other-title">No videos available.</h2>
                            </div>
                        </template>
                        <!-- Else, Subscribed videos is not empty -->
                        <template is="dom-if" if="{{!subVideosEmpty}}">
                            <!-- Loop through all subscribed videos -->
                            <template is="dom-repeat" items="{{subVideos}}">
                                <div class="col-md-2">
                                    <h2 class="lead text-limit">{{item.name}}</h2>
                                    <a href="/video?id={{item.id}}">
                                        <!-- If user has chosen a thumbnail -->
                                        <template is="dom-if" if="{{!isEmpty(item.thumbnail)}}">
                                            <img src="data:image/png;base64,{{item.thumbnail}}" class="img-thumbnail border-success" />
                                        </template>
                                        <!-- Else if user hasn't chosen a thumbnail -->
                                        <template is="dom-if" if="{{isEmpty(item.thumbnail)}}">
                                            <img src="/images/thumbnail/test.jpg" class="img-thumbnail border-success" />
                                        </template>
                                    </a>
                                </div>
                            </template>
                        </template>
                    </div>

                    <hr>
                    <h2>Your subscriptions</h2>
                    <div class="row my-md-1">
                        <!-- If subscribed playlists is empty -->
                        <template is="dom-if" if="{{subPlaylistsEmpty}}">
                            <div class="col-md-12">
                                <h2 class="other-title">No videos available.</h2>
                            </div>
                        </template>
                        <!-- Else if subscribed playlists is not empty-->
                        <template is="dom-if" if="{{!subPlaylistsEmpty}}">
                            <!-- Loop through all subscribed playlists-->
                            <template is="dom-repeat" items="{{subPlaylists}}">
                                <div class="col-md-3">
                                    <h2 class="lead text-limit">{{item.name}}</h2>
                                    <a href="/playlist?id={{item.id}}">
                                        <!-- If user has chosen a thumbnail -->
                                        <template is="dom-if" if="{{!isEmpty(item.thumbnail)}}">
                                            <img src="data:image/png;base64,{{item.thumbnail}}" class="img-thumbnail border-success" />
                                        </template>
                                        <!-- Else if user hasn't chosen a thumbnail -->
                                        <template is="dom-if" if="{{isEmpty(item.thumbnail)}}">
                                            <img src="/images/thumbnail/test.jpg" class="img-thumbnail border-success" />
                                        </template>
                                    </a>
                                </div>
                            </template>
                        </template>
                    </div>

                </template>
            </div>
        </div>

        <div class="container">

            <div class="col-12 ml-lg-0">
                <h1 class="display-4">New Videos</h1>
            </div>

            <div class="row my-md-1">
                <!-- If new videos is empty -->
                <template is="dom-if" if="{{newVideosEmpty}}">
                    <div class="col-md-4">
                        <h2 class="other-title">No videos available.</h2>
                    </div>
                </template>
                <!-- else if new videos is not empty -->
                <template is="dom-if" if="{{!newVideosEmpty}}">
                    <!-- Loop through all new videos -->
                    <template is="dom-repeat" items="{{newVideos}}">
                        <div class="col-md-4">
                            <h2 class="lead text-limit">{{item.name}}</h2>
                            <a href="/video?id={{item.id}}">
                                <!-- If user has chosen a thumbnail -->
                                <template is="dom-if" if="{{!isEmpty(item.thumbnail)}}">
                                    <img src="data:image/png;base64,{{item.thumbnail}}" class="img-thumbnail border-success" />
                                </template>
                                <!-- Else if user hasn't chosen a thumbnail -->
                                <template is="dom-if" if="{{isEmpty(item.thumbnail)}}">
                                    <img src="/images/thumbnail/test.jpg" class="img-thumbnail border-success" />
                                </template>
                            </a>
                        </div>
                    </template>
                </template>
            </div>

            <hr>

            <div class="col-12 ml-lg-0">
                <h1 class="display-4">Playlists</h1>
            </div>

            <div class="row my-md-1">
                <!-- If new playlists is empty-->
                <template is="dom-if" if="{{newPlaylistsEmpty}}">
                    <div class="col-md-4">
                        <h2 class="other-title">No playlists available.</h2>
                    </div>
                </template>
                <!-- Else if new playlists is not empty -->
                <template is="dom-if" if="{{!newPlaylistsEmpty}}">
                    <!-- Loop through all new playlists -->
                    <template is="dom-repeat" items="{{newPlaylists}}">
                        <div class="col-md-4">
                            <h2 class="lead text-limit">{{item.title}}</h2>
                            <a href="/playlist?id={{item.id}}">
                                <!-- If user has chosen a thumbnail -->
                                <template is="dom-if" if="{{!isEmpty(item.thumbnail)}}">
                                    <img src="data:image/png;base64,{{item.thumbnail}}" class="img-thumbnail border-success" />
                                </template>
                                <!-- Else if user hasn't chosen a thumbnail -->
                                <template is="dom-if" if="{{isEmpty(item.thumbnail)}}">
                                    <img src="/images/thumbnail/test.jpg" class="img-thumbnail border-success" />
                                </template>
                            </a>

                        </div>
                    </template>
                </template>
            </div>

        </div>
        <!-- /container -->
    </template>

    <script>
        class MyHome extends Polymer.Element {
            static get is() {
                return 'my-home';
            }

            static get properties() {
                return {
                    homeURL: {
                        type: String,
                        value: '/api/home.php'
                    },
                    userID: {
                        type: String,
                        value: ""
                    },
                    userLoggedIn: {
                        type: Boolean,
                        value: false
                    },
                    user: {
                        type: Object,
                        value: null
                    },
                    isAdmin: {
                        type: Boolean,
                        value: false
                    },
                    wannaBeUsers: {
                        type: Array < Number > Object,
                        value: null
                    },
                    wannaBeUsersEmpty: {
                        type: Boolean,
                        value: false
                    },
                    newVideos: {
                        type: Array < Number > Object,
                        value: null
                    },
                    newVideosEmpty: {
                        type: Boolean,
                        value: false
                    },
                    newPlaylists: {
                        type: Array < Number > Object,
                        value: null
                    },
                    newPlaylistsEmpty: {
                        type: Boolean,
                        value: false
                    },
                    subVideos: {
                        type: Array < Number > Object,
                        value: null
                    },
                    subVideosEmpty: {
                        type: Boolean,
                        value: false
                    },
                    subPlaylists: {
                        type: Array < Number > Object,
                        value: null
                    },
                    subPlaylistsEmpty: {
                        type: Boolean,
                        value: false
                    }
                }
            };

            isEmpty(thumbnail) {
                if (thumbnail == "") {
                    return true;
                } else {
                    return false;
                }
            }

            handleResponse(res) {
                this.set('userID', res.detail.response.userid);
                // If user is not logged in
                if (this.userID != 0) {
                    this.set('userLoggedIn', true);
                }
                this.set('user', res.detail.response.user);
                this.set('isAdmin', res.detail.response.admin)
                // If user is admin
                if (this.isAdmin == true) {
                    this.set('wannaBeUsers', res.detail.response.wannabeUsers);
                    // If wannaBeUsers is empty
                    if (this.wannaBeUsers == null) {
                        this.set('wannaBeUsersEmpty', true);
                    }
                }
                this.set('newVideos', res.detail.response.newVideos);
                // If new videos is epmty
                if (this.newVideos == null) {
                    this.set('newVideosEmpty', true);
                }
                this.set('newPlaylists', res.detail.response.newPlaylists);
                // If new playlists is empty
                if (this.newPlaylists == null) {
                    this.set('newPlaylistsEmpty', true);
                }
                this.set('subVideos', res.detail.response.subscribedVideos);
                // If subscribed videos is empty
                if (this.subVideos == null) {
                    this.set('subVideosEmpty', true);
                }
                this.set('subPlaylists', res.detail.response.subscribedPlaylists);
                // If subscribed playlists is empty
                if (this.subPlaylists == null) {
                    this.set('subPlaylistsEmpty', true);
                }
            }
        }

        window.customElements.define(MyHome.is, MyHome);
    </script>
</dom-module>