<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-iconset-svg/iron-iconset-svg.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        /* TODO : Make height dynamic! */
        height: 100%;
        padding-bottom: 35%;
        padding-top: 40px;
        background: #3a6186;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #1C1F4F, #134D36);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #1C1F4F, #134D36);
        background-size: cover;
      }
    </style>
    <iron-ajax id="ajax" auto with-credentials="true" url="[[loginURL]]" handle-as="json" content-type="application/x-www-form-urlencoded"
      on-response="handleResponse" last-response="{{response}}" debounce-duration="300"></iron-ajax>

    <div class="text-center text-white">
      <h1 class="display-2">
        <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s">
          <a class="text-white link-line-none" href="/">#MeToobe</a>
        </span>
      </h1>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 form-line">
          <form action="../api/php/userLogin.php" method="post" id="signInUser" class="form-signin form-group">
            <h2 class="form-signin-heading text-white">Sign in</h2>

            <!-- If user has saved email to cookies -->
            <template is="dom-if" if="[[response.hasEmail]]">
              <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required value="[[response.email]]">
              <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required autofocus="">
              <div class="checkbox">
                <label class="text-white">
                  <input type="checkbox" name="rememberMe" value="yes" checked /> Remember email
                </label>
              </div>
            </template>

            <!-- Else, not saved to cookies -->
            <template is="dom-if" if="[[!response.hasEmail]]">
              <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus="">
              <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
              <div class="checkbox">
                <label class="text-white">
                  <input type="checkbox" name="rememberMe" value="yes" /> Remember email
                </label>
              </div>
            </template>

            <button class="btn btn-default bg-transparent btn-block border border-white text-white" type="submit">Sign in</button>
          </form>
        </div>

        <div class="col-md-6 col-sm-12">
          <form action="../api/php/userRegister.php" method="post" id="registerUser" class="form-signin form-group">
            <h2 class="form-signin-heading text-white">Register</h2>
            <input type="text" name="newname" id="registerUsername" class="form-control" placeholder="Full name" required="" autofocus="">
            <br>
            <input type="email" name="newemail" id="registerEmail" class="form-control" placeholder="Email address" required="">
            <input type="password" name="newpassword" id="registerPassword" class="form-control" placeholder="Password" required="">
            <div class="checkbox">
              <label class="text-white">
                <input type="checkbox" name="isTeacher" value="yes" /> I am a teacher
              </label>
            </div>
            <button class="btn btn-default bg-transparent btn-block border border-white text-white" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div>
    </body>
  </template>

  <script>
    class MyLogin extends Polymer.Element {
      static get is() {
        return 'my-login';
      }

      static get properties() {
        return {
          loginURL: { // Used by iron-ajax
            type: String,
            value: '/api/login.php'
          },
          email: {
            type: String,
            value: ""
          },
          hasEmail: {
            type: Boolean,
            value: false
          }
        }
      };

      handleResponse(res) {
        this.email = {
          'email': res.detail.response.email
        };
        this.hasEmail = {
          'hasEmail': res.detail.response.hasEmail
        };
        console.log(res.detail.response);
      }
    }

    window.customElements.define(MyLogin.is, MyLogin);
  </script>
</dom-module>