<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-playlist">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }
        </style>

        <app-location route="{{route}}" query-params="{{queryParams}}"></app-location>

        <iron-ajax id="ajax" auto with-credentials="true" url="[[URL]]{{queryParams.id}}" handle-as="json" content-type="application/x-www-form-urlencoded"
            on-response="handleResponse" last-response="{{response}}" debounce-duration="300"></iron-ajax>


        <div class="container-fluid border-top" style="margin-bottom: 10px;"></div>
        <div class="container">

            <div class="row col">
                <div class="col-md-11">
                    <p style="color: #aaaaaa;"> {{playlist.id}} </p>
                </div>
                <div class="col-md-1 float-right">
                    <template is="dom-if" if="{{!isEmpty(userid)}}">
                        <form action="../api/php/playlistSubscribe.php" id="playlistSubscribe" method="post">
                            <input type="hidden" name="playlist-id" value="{{playlist.id}}" />
                            <template is="dom-if" if="{{subscribed}}">
                                <button type="submit" name="subscribe" class="btn btn-secondary" value="no" form="playlistSubscribe">
                                    Unsubscribe
                                </button>
                            </template>
                            <template is="dom-if" if="{{!subscribed}}">
                                <button type="submit" name="subscribe" class="btn btn-success" value="yes" form="playlistSubscribe">
                                    Subscribe!
                                </button>
                            </template>
                        </form>
                    </template>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <template is="dom-if" if="{{createMode}}">
                        <form id="createPlaylist" method="post" action="../api/php/playlistCreate.php" enctype="multipart/form-data">
                    </template>

                    <template is="dom-if" if="{{editMode}}">
                        <form id="updatePlaylist" method="post" action="../api/php/playlistUpdate.php" enctype="multipart/form-data">
                    </template>

                    <template is="dom-if" if="{{userMode}}">
                        <input type="text" class="form-control" id="playlist-title" value="{{playlist.title}}" placeholder="Title"
                            required readonly>
                        <br>

                        <input type="text" class="form-control" id="playlist-course" value="{{playlist.course}}" placeholder="Course"
                            readonly>
                        <br>

                        <input type="text" class="form-control" id="playlist-topic" value="{{playlist.topic}}" placeholder="Topic"
                            readonly>
                        <br>
                    </template>
                    <template is="dom-if" if="{{!userMode}}">
                        <input type="text" class="form-control" form="updatePlaylist" id="playlist-title" name="playlist-title" value="{{playlist.title}}" placeholder="Title"
                            required>
                        <br>

                        <input type="text" class="form-control" form="updatePlaylist" id="playlist-course" name="playlist-course" value="{{playlist.course}}" placeholder="Course">
                        <br>

                        <input type="text" class="form-control" form="updatePlaylist" id="playlist-topic" name="playlist-topic" value="{{playlist.topic}}" placeholder="Topic">
                        <br>
                    </template>

                    <!-- need the playlist id when updating the site, thus hidden. -->
                    <input type="hidden" name="playlist-id" form="updatePlaylist" value="{{playlist.id}}" />
                    <template is="dom-if" if="{{!userMode}}">
                        <label for="fileUploader">
                            <h4 class="other-title">Upload
                                <span class="text-success">Thumbnail</span>
                            </h4>
                        </label>
                        <div class="custom-file" id="fileUploader">
                            <input form="updatePlaylist" type="file" class="" id="customFileThumbnail" name="file-thumbnail" accept="image/*">
                            <label class="custom-file-label" for="customFileThumbnail">
                                <span class="file-custom" data-content-value="Choose Thumbnail..."></span>
                            </label>
                        </div>
                        <br>
                        <br>
                    </template>

                    <template is="dom-if" if="{{userMode}}">
                        <textarea type="text" class="form-control" rows="4" id="playlist-description" placeholder="Playlist Description" name="playlist-description"
                            readonly>{{playlist.description}}</textarea>
                    </template>
                    <template is="dom-if" if="{{!userMode}}">
                        <textarea type="text" class="form-control" form="updatePlaylist" rows="4" id="playlist-description" placeholder="Playlist Description" name="playlist-description">{{playlist.description}}</textarea>
                    </template>

                    </form>
                </div>
                <div class="col-md-6">
                    <!-- If user has chosen a thumbnail -->
                    <template is="dom-if" if="{{!isEmpty(playlist.thumbnail)}}">
                        <img src="data:image/png;base64,{{playlist.thumbnail}}" class="img-thumbnail border-success" />
                    </template>
                    <!-- Else if user hasn't chosen a thumbnail -->
                    <template is="dom-if" if="{{isEmpty(item.thumbnail)}}">
                        <img src="/images/thumbnail/test.jpg" class="img-thumbnail border-success" />
                    </template>
                </div>
            </div>
            <!-- Iterate over videos -->
            <template is="dom-repeat" items="{{videos}}">
                <hr>
                <div class="col">
                    <span style="color: #aaaaaa;"> {{item.id}} Rank: {{item.rank}} </span>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <a href="/video?id={{item.id}}">
                            <!-- If user has chosen a thumbnail -->
                            <template is="dom-if" if="{{!isEmpty(item.thumbnail)}}">
                                <img src="data:image/png;base64,{{item.thumbnail}}" class="img-thumbnail border-success" />
                            </template>
                            <!-- Else if user hasn't chosen a thumbnail -->
                            <template is="dom-if" if="{{isEmpty(item.thumbnail)}}">
                                <img src="/images/thumbnail/test.jpg" class="img-thumbnail border-success" />
                            </template>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-8">
                            <h2 class="lead text">{{item.name}}</h2>
                        </div>
                        <hr>
                        <div class="col-md-8" style="word-break: break-all; word-wrap: break-word;">
                            <p>{{item.description}}</p>
                        </div>
                    </div>
                    <template is="dom-if" if="{{editMode}}">
                        <div class="col-md-1 text-center">
                            <div style="margin-bottom: 1px; margin-top: 10%;">
                                <form action="../api/php/playlistSwap.php" id="swapUp{{item.id}}" method="POST">
                                    <input type="hidden" name="playlist-id" form="swapUp{{item.id}}" value="{{playlist.id}}" />
                                    <input type="hidden" name="video-id" form="swapUp{{item.id}}" value="{{item.id}}" />
                                    <input type="hidden" name="video-rank" form="swapUp{{item.id}}" value="{{item.rank}}" />
                                    <input type="hidden" name="swap" form="swapUp{{item.id}}" value="up" />
                                    <button type="submit" form="swapUp{{item.id}}" class="btn btn-secondary btn-sm">
                                        <img src="../icon/arrow-up.png" aria-hidden="true">
                                    </button>
                                </form>
                            </div>
                            <div style="margin-bottom: 1px;">
                                <form action="../api/php/playlistRemoveVideo.php" id="removeVideo{{item.rank}}" method="POST">
                                    <input type="hidden" name="playlist-id" form="removeVideo{{item.rank}}" value="{{playlist.id}}" />
                                    <input type="hidden" name="video-id" form="removeVideo{{item.rank}}" value="{{item.id}}" />
                                    <input type="hidden" name="video-rank" form="removeVideo{{item.rank}}" value="{{item.rank}}" />
                                    <button size="100px" type="submit" form="removeVideo{{item.rank}}" name="up" value="up" class="btn btn-danger text-white">
                                        X
                                    </button>
                                </form>
                            </div>
                            <div>
                                <form action="../api/php/playlistSwap.php" id="swapDown{{item.id}}" method="POST">
                                    <input type="hidden" name="playlist-id" form="swapDown{{item.id}}" value="{{playlist.id}}" />
                                    <input type="hidden" name="video-id" form="swapDown{{item.id}}" value="{{item.id}}" />
                                    <input type="hidden" name="video-rank" form="swapDown{{item.id}}" value="{{item.rank}}" />
                                    <input type="hidden" name="swap" form="swapDown{{item.id}}" value="down" />
                                    <button type="submit" form="swapDown{{item.id}}" class="button btn btn-secondary btn-sm">
                                        <img src="../icon/arrow-down.png" aria-hidden="true">
                                        HEI
                                    </button>
                                </form>
                            </div>
                        </div>
                    </template>
                </div>


            </template>
            <br>
            <template is="dom-if" if="{{createMode}}">
                <input type="submit" class="btn btn-success" value="Create" form="createPlaylist" /> 
            </template>
            <template is="dom-if" if="{{editMode}}">
               
                <div class="row">
                    <div class="col col-md-1">
                        <input type="submit" class="btn btn-success" value="Update" form="updatePlaylist" />
                    </div>
                    <div class="col col-md-1">
                        <form action="../api/php/playlistDelete.php" method="post">
                            <input type="hidden" name="playlist-id" value="{{playlist.id}}" />
                            <input type="submit" class="btn btn-danger" value="Delete" formaction="../api/php/playlistDelete.php" />
                        </form>

                    </div>
                </div>

            </template>

        </div>

    </template>

    <script>
        class MyPlaylist extends Polymer.Element {
            static get is() {
                return 'my-playlist';
            }
            static get properties() {
                return {
                    URL: { // Used by iron-ajax
                        type: String,
                        value: '/api/playlist.php?id='
                    },
                    videos: {
                        type: Object,
                        value: null
                    },
                    user: {
                        type: Object,
                        value: null
                    },
                    playlist: {
                        type: Object,
                        value: null
                    },
                    subscribed: {
                        type: Boolean,
                        value: null
                    },
                    editMode: {
                        type: Boolean,
                        value: null
                    },
                    createMode: {
                        type: Boolean,
                        value: null
                    },
                    userMode: {
                        type: Boolean,
                        value: null
                    },
                    userid: {
                        type: String,
                        value: null
                    }
                }
            };

            isEmpty(item) {
                if (item == "" || item == null) {
                    return true;
                } else {
                    return false;
                }
            }

            handleResponse(res) {
                this.set('userid', res.detail.response.userid);
                this.set('user', res.detail.response.user);
                this.set('videos', res.detail.response.videos);
                this.set('playlist', res.detail.response.playlist);
                this.set('subscribed', res.detail.response.subscribed);
                this.set('editMode', res.detail.response.editMode);
                this.set('createMode', res.detail.response.createMode);

                if (this.createMode == true) {
                    this.userMode = false;
                } else if (this.editMode == true) {
                    this.userMode = false;
                } else {
                    this.userMode = true;
                }
            }
        }

        window.customElements.define(MyPlaylist.is, MyPlaylist);
    </script>
</dom-module>