<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-search">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }
        </style>

        <app-location route="{{route}}" query-params="{{queryParams}}"></app-location>


        <iron-ajax id="ajax" auto with-credentials="true" url="[[URL]]{{queryParams.id}}" handle-as="json" content-type="application/x-www-form-urlencoded"
            on-response="handleResponse" last-response="{{response}}" debounce-duration="300"></iron-ajax>


        <div class="container-fluid border-top">
            <br>
        </div>

        <div class="container-fluid">

            <div class="row">

                <!-- VIDEOS -->

                <div class="col-md-6 border-right">
                    <h2 class="other-title text-success text-center">Videos</h2>
                    <!-- If videoResults is empty -->
                    <template is="dom-if" if="{{isEmpty(videoResults)}}">
                        <div class="col-md-12">
                            <h2 class="other-title">No videos found.</h2>
                        </div>
                    </template>
                    <!-- Else, if videoresults is not empty-->
                    <template is="dom-if" if="{{!isEmpty(videoResults)}}">
                        <!-- Loop through all videoresults-->
                        <template is="dom-repeat" items="{{videoResults}}">
                            <div class="col-md-12" style="margin-bottom: 20px;">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a href="/video?id={{item.id}}">
                                            <!-- If user has chosen a thumbnail -->
                                            <template is="dom-if" if="{{!isEmpty(item.thumbnail)}}">
                                                <img src="data:image/png;base64,{{item.thumbnail}}" class="img-thumbnail border-success" />
                                            </template>
                                            <!-- Else if user hasn't chosen a thumbnail -->
                                            <template is="dom-if" if="{{isEmpty(item.thumbnail)}}">
                                                <img src="/images/thumbnail/test.jpg" class="img-thumbnail border-success" />
                                            </template>
                                        </a>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="col-md-12 border-bottom">
                                            <h2 class="lead text">{{item.name}}</h2>
                                        </div>
                                        <div class="col-md-12" style="word-break: break-all; word-wrap: break-word;">
                                            <p>{{item.description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </template>
                </div>


                <!-- PLAYLISTS -->
                <div class="col-md-6">
                    <h2 class="other-title text-info text-center">Playlists</h2>
                    <!-- If playlistResults is empty -->
                    <template is="dom-if" if="{{isEmpty(playlistResults)}}">
                        <div class="col-md-12">
                            <h2 class="other-title">No playlists found.</h2>
                        </div>
                    </template>
                    <!-- If playlistResults isn't empty -->
                    <template is="dom-if" if="{{!isEmpty(playlistResults)}}">
                        <!-- Loop through all playlistResults -->
                        <template is="dom-repeat" items="{{playlistResults}}">
                            <div class="col-md-12" style="margin-bottom: 20px;">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a href="/playlist?id={{item.id}}">
                                            <!-- If user has chosen a thumbnail -->
                                            <template is="dom-if" if="{{!isEmpty(item.thumbnail)}}">
                                                <img src="data:image/png;base64,{{item.thumbnail}}" class="img-thumbnail border-success" />
                                            </template>
                                            <!-- Else if user hasn't chosen a thumbnail -->
                                            <template is="dom-if" if="{{isEmpty(item.thumbnail)}}">
                                                <img src="/images/thumbnail/test.jpg" class="img-thumbnail border-success" />
                                            </template>
                                        </a>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="col-md-12 border-bottom">
                                            <h2 class="lead text">{{item.title}}</h2>
                                        </div>
                                        <div class="col-md-12" style="word-break: break-all; word-wrap: break-word;">
                                            <p>{{item.description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </template>
                </div>
            </div>
        </div>
    </template>

    <script>
        class MySearch extends Polymer.Element {
            static get is() {
                return 'my-search';
            }

            static get properties() {
                return {
                    URL: {
                        type: String,
                        value: '/api/search.php?query='
                    },
                    userID: {
                        type: String,
                        value: ""
                    },
                    user: {
                        type: Object,
                        value: null
                    },
                    videoResults: {
                        type: Array < Number > Object,
                        value: null
                    },
                    playlistResults: {
                        type: Array < Number > Object,
                        value: null
                    }
                };
            }

            isEmpty(item) {
                if (item == null || item == "") {
                    return true;
                } else {
                    return false;
                }
            }

            handleResponse(res) {
                this.set('user', res.detail.response.user);
                if (this.user != null) {
                    this.set('userID', res.detail.response.userid);
                }
                this.set('videoResults', res.detail.response.videoResults);
                this.set('playlistResults', res.detail.response.playlistResults);

                console.log(this.user);
                console.log(this.userID);
                console.log(this.videoResults);
                console.log(this.playlistResults);
            }
        }

        window.customElements.define(MySearch.is, MySearch);
    </script>
</dom-module>