<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-upload">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

            }

            #video-preview {
                display: none;
                width: 400px;
                height: 225px;
            }

            #img1 {
                background-color: black;
                display: inline;
            }
        </style>

        <div class="jumbotron">
            <div class="container">
                <form action="api/php/videoUpload.php" method="post" enctype="multipart/form-data">
                    <div class="row col-md-12">
                        <div class="col-md-4">
                            <label for="fileuploader">
                                <h4 class="other-title">Upload
                                    <span class="text-success">Video</span>
                                </h4>
                            </label>
                            <div class="custom-file" id="fileuploader">
                                <input type="file" class="" id="customFile" name="file-video" accept="video/mp4">
                                <label class="custom-file-label" for="customFile">
                                    <span class="file-custom" data-content-value="Choose Video..."></span>
                                </label>
                            </div>
                            <br/>

                            <label for="fileuploader2">
                                <h4 class="other-title">Choose
                                    <span class="text-success">Thumbnail</span>
                                </h4>
                            </label>
                            <div class="custom-file" id="fileuploader2">
                                <!--
                                <input type="file" class="" id="customFileThumbnail" name="file-thumbnail" accept="image/*">
                                <label class="custom-file-label" for="customFileThumbnail">
                                    <span class="file-custom" data-content-value="Choose Thumbnail..."></span>
                                </label>
                            -->
                                <video id="video-preview" controls>
                                    <source id="videoSource" src="" type="video/mp4">
                                </video>
                                <p>Stop video at desired thumbnail :)</p>
                                <canvas id="video-canvas" style="display: none;"></canvas>
                                <input id="thumbnail-test" name="file-thumbnail" type="hidden"></input>
                            </div>


                        </div>
                        <div class="col-md-8">
                            <label for="videotitle">
                                <h4 class="other-title">Title</h4>
                            </label>
                            <input class="form-control" type="text" name="videotitle" id="videotitle" required>
                            <br>
                            <label for="descr">
                                <h4 class="other-title">Description</h4>
                            </label>
                            <textarea class="form-control" id="descr" name="descr" rows="3"></textarea>
                            <br>
                            <button type="submit" value="Lagre filen i databasen" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </template>

    <script>
        class MyUpload extends Polymer.Element {
            static get is() {
                return 'my-upload';
            }

            ready() {
                super.ready();
                this.shadowRoot.getElementById('customFile').addEventListener('change', this.kjor.bind(this));

            }

            kjor(e) {
                var video = this.shadowRoot.getElementById('video-preview');
                var canvas = this.shadowRoot.getElementById('video-canvas');
                var img = this.shadowRoot.getElementById('thumbnail-image');
                var input = this.shadowRoot.getElementById('thumbnail-test');

                // Object Url as the video source
                video.src = URL.createObjectURL(this.shadowRoot.getElementById(
                    'customFile').files[0]);
                video.load();
                video.style.display = 'inline';

                video.addEventListener('timeupdate', function () {
                    // get the canvas context for drawing
                    var context = canvas.getContext('2d');

                    // draw the video contents into the canvas x, y, width, height
                    context.drawImage(video, 0, 0, canvas.width, canvas.height);

                    // get the image data from the canvas object
                    var dataURL = canvas.toDataURL();

                    // set the value of the input tag
                    input.setAttribute('value', dataURL);
                });

            }

        }

        window.customElements.define(MyUpload.is, MyUpload);
    </script>
</dom-module>