<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-user">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }
        </style>

        <app-location route="{{route}}" query-params="{{queryParams}}"></app-location>

        <iron-ajax id="ajax" auto with-credentials="true" url="[[URL]]{{queryParams.id}}" handle-as="json" content-type="application/x-www-form-urlencoded"
            on-response="handleResponse" last-response="{{response}}" debounce-duration="300"></iron-ajax>


        <div class="container-fluid border-top">
            <div class="row">
                <!-- LEFT -->
                <div class="col-md-4 border-right" style="margin-top:0px;">
                    <div style="margin-top: 10px;"></div>

                    <h2 class="other-title text-dark text-center">Account</h2>
                    <h2 class="text-center">{{ userStats.fullname }}</h2>
                    <p class="text-center">{{ userStats.email }}</p>

                    <!-- PILS! -->

                </div>

                <!-- MIDDLE -->
                <div class="col-md-4 border-right" align="center">
                    <div style="margin-top: 10px;"></div>

                    <h2 class="other-title text-success text-center">Videos</h2>


                    <!-- If new playlists is empty-->
                    <template is="dom-if" if="{{noVideos}}">
                        <div class="col-md-4">
                            <p>No videos found.</p>
                        </div>
                    </template>
                    <!-- Else if new playlists is not empty -->
                    <template is="dom-if" if="{{!noVideos}}">
                        <!-- Loop through all new playlists -->
                        <template is="dom-repeat" items="{{userVideos}}">
                            <div id="playlistInfo" class="col-md-8">
                                <h2 class="lead text-limit">{{ item.name }}</h2>
                                <a href="/video?id={{ item.id }}">
                                    <!-- If user has chosen a thumbnail -->
                                    <template is="dom-if" if="{{!isEmpty(item.thumbnail)}}">
                                        <img src="data:image/png;base64,{{item.thumbnail}}" class="img-thumbnail border-success" />
                                    </template>
                                    <!-- Else if user hasn't chosen a thumbnail -->
                                    <template is="dom-if" if="{{isEmpty(item.thumbnail)}}">
                                        <img src="/images/thumbnail/test.jpg" class="img-thumbnail border-success" />
                                    </template>
                                </a>
                            </div>
                            <br>
                        </template>
                    </template>
                </div>

                <!-- RIGHT -->
                <div class="col-md-4" align="center">
                    <div style="margin-top: 10px;"></div>

                    <h2 class="other-title text-info text-center">Playlists</h2>

                    <!-- If new playlists is empty-->
                    <template is="dom-if" if="{{noPlaylists}}">
                        <div class="col-md-4">
                            <p>No playlists found.</p>
                        </div>
                    </template>
                    <!-- Else if new playlists is not empty -->
                    <template is="dom-if" if="{{!noPlaylists}}">
                        <!-- Loop through all new playlists -->
                        <template is="dom-repeat" items="{{userPlaylists}}">
                            <div id="playlistInfo" class="col-md-8">
                                <h2 class="lead text-limit">{{ item.title }}</h2>
                                <a href="/playlist?id={{ item.id }}">
                                    <!-- If user has chosen a thumbnail -->
                                    <template is="dom-if" if="{{!isEmpty(item.thumbnail)}}">
                                        <img src="data:image/png;base64,{{item.thumbnail}}" class="img-thumbnail border-success" />
                                    </template>
                                    <!-- Else if user hasn't chosen a thumbnail -->
                                    <template is="dom-if" if="{{isEmpty(item.thumbnail)}}">
                                        <img src="/images/thumbnail/test.jpg" class="img-thumbnail border-success" />
                                    </template>
                                </a>
                            </div>
                            <br>
                        </template>
                    </template>



                </div>
            </div>
            <template is="dom-if" if="{{isOwner}}">
                <div class="col-md-4">
                    <form id="deleteUser" action="api/php/userDelete.php" method="post">
                        <div class="checkbox">
                            <label class="text-dark">
                                <input id="areUsure" type="checkbox" name="isTeacher" value="yes" required> I am sure, I want to delete my account.
                            </label>
                        </div>
                        <button type="submit" class="btn btn-danger btn-lg btn-block">DELETE</button>
                    </form>
                </div>
            </template>

        </div>

    </template>

    <script>
        class MyUser extends Polymer.Element {
            static get is() {
                return 'my-user';
            }
            static get properties() {
                return {
                    URL: { // Used by iron-ajax
                        type: String,
                        value: '/api/user.php?id='
                    },
                    userid: {
                        type: String,
                        value: ""
                    },
                    user: {
                        type: Object,
                        value: null
                    },
                    userVideos: {
                        type: Object,
                        value: null
                    },
                    userStats: {
                        type: Object,
                        value: null
                    },
                    userPlaylists: {
                        type: Object,
                        value: null
                    },
                    noVideos: {
                        type: Boolean,
                        value: false
                    },
                    noPlaylists: {
                        type: Boolean,
                        value: false
                    },
                    isOwner: {
                        type: Boolean,
                        value: false
                    }

                }
            };

            isEmpty(thumbnail) {
                if (thumbnail == "") {
                    return true;
                } else {
                    return false;
                }
            }

            handleResponse(res) {
                this.set('userid', res.detail.response.userid);
                this.set('user', res.detail.response.user);
                this.set('userVideos', res.detail.response.userVideos);
                this.set('userStats', res.detail.response.userStats);
                this.set('userPlaylists', res.detail.response.userPlaylists);

                if (this.userVideos == null) {
                    this.set('noVideos', true);
                }
                if (this.userPlaylists == null) {
                    this.set('noPlaylists', true);
                }

                if (this.userid == this.user.id) {
                    this.set('isOwner', true);
                }

                console.log(this.userVideos);
                console.log(this.userStats);
                console.log(this.userPlaylists);
            }
        }

        window.customElements.define(MyUser.is, MyUser);
    </script>
</dom-module>