<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../my-components/subtitle-view/subtitle-view.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-video">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }

            /* TODO : Change this to my code */

            video {
                width: 100%;
                max-height: 650px;
                background-color: black !important;
                /* To set the poster image */
                background: transparent url('poster.jpg') no-repeat 0 0;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }

            #subtitles {
                width: 300px;
                flex-grow: 1;
                flex-shrink: 8;
            }

            #subtitles ul {
                list-style-type: none;
            }

            #subtitles li {
                padding: 2px 5px;
            }

            #subtitles li.active {
                background-color: #EEE;
            }

            /* RADIO SLIDER */

            @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
            * {
                margin: 0px;
                padding: 0px;
            }

            .wrapper {
                margin-top: 10px;
                margin-bottom: 0px;
                margin-left: 10px;
            }

            .toggle_radio {
                position: relative;
                background: rgba(255, 255, 255, .1);
                margin: 4px auto;
                overflow: hidden;
                padding: 0 !important;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                border-radius: 50px;
                position: relative;
                height: 26px;
                width: 318px;
            }

            .toggle_radio>* {
                float: left;
            }

            .toggle_radio input[type=radio] {
                display: none;
                /*position: fixed;*/
            }

            .toggle_radio label {
                color: rgba(0, 0, 0, 0.9);
                z-index: 0;
                display: block;
                width: 100px;
                height: 20px;
                margin: 3px 3px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                border-radius: 50px;
                cursor: pointer;
                z-index: 1;
                /*background: rgba(0,0,0,.1);*/
                text-align: center;
                /*margin: 0 2px;*/
                /*background: blue;*/
                /*make it blue*/
            }

            .tri_toggle {
                font-size: 18px !important;
            }

            .toggle_option_slider {
                /*display: none;*/
                /*background: red;*/
                width: 100px;
                height: 20px;
                position: absolute;
                top: 3px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                border-radius: 50px;
                -webkit-transition: all .4s ease;
                -moz-transition: all .4s ease;
                -o-transition: all .4s ease;
                -ms-transition: all .4s ease;
                transition: all .4s ease;
            }

            #first_toggle:checked~.toggle_option_slider {
                background: rgba(0, 255, 76, 0.3);
                left: 3px;
            }

            #second_toggle:checked~.toggle_option_slider {
                background: rgba(0, 255, 76, 0.3);
                left: 109px;
            }

            #third_toggle:checked~.toggle_option_slider {
                background: rgba(0, 255, 76, 0.3);
                left: 215px;
            }

            .dropbtn {
                background-color: #3498DB;
                color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;
            }

            .dropbtn:hover,
            .dropbtn:focus {
                background-color: #2980B9;
            }

            .dropdown {
                position: relative;
                display: inline-block;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 160px;
                overflow: auto;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
            }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

            .dropdown a:hover {
                background-color: #ddd
            }

            .show {
                display: block;
            }
        </style>

        <app-location route="{{route}}" query-params="{{queryParams}}"></app-location>
        <iron-ajax id="ajax" auto with-credentials="true" url="[[URL]]{{queryParams.id}}" handle-as="json" content-type="application/x-www-form-urlencoded"
            on-response="handleResponse" last-response="{{response}}" debounce-duration="300"></iron-ajax>

        <!-- If it is edit mode -->
        <template is="dom-if" if="{{isEditMode}}">
            <form id="videoUpdate" method="post" action="api/php/videoUpdate.php" enctype="multipart/form-data" />
            <input type="hidden" name="video-id" form="videoUpdate" value="{{videoData.id}}">
            <input type="hidden" name="video-owner" form="videoUpdate" value="{{videoData.userid}}">
        </template>
        <!-- Main jumbotron -->
        <div class="jumbotron" id="jumbo">
            <div class="">
                <div class="col-12 ml-lg-0">
                    <!-- If it is edit mode -->
                    <template is="dom-if" if="{{isEditMode}}">
                        <input type="text" style="margin-bottom: 10px;" class="form-control" id="video-title" name="video-title" form="videoUpdate"
                            value="{{videoData.name}}">
                    </template>
                    <!-- Else, it's not edit mode -->
                    <template is="dom-if" if="{{!isEditMode}}">
                        <h2 class="other-title">{{videoData.name}}</h2>
                    </template>
                </div>

                <!-- If videoData.mime exists -->
                <template is="dom-if" if="{{!isEmpty(videoData.mime)}}">
                    <div class="row">
                        <div class="col-md-8">
                            <video id="videoPlayer" poster="{{getThubnail(videoData.thumbnail)}}" controls>
                                <source src="uploadedFiles/{{videoData.userid}}/{{videoData.id}}.mp4" type="{{videoData.mime}}">
                                <track label="English subtitles" kind="subtitles" srclang="en" src="uploadedFiles/{{videoData.userid}}/{{videoData.id}}.vtt">
                            </video>
                        </div>
                        <div class="col-md-4" style="background: #ffffff !important; max-height: 400px; overflow-y:scroll;" scrollable>
                            <!-- This custom element was stolen from my teacher :) https://bitbucket.org/okolloen/imt2291-v2018/src/master/uke14_onsdag/subtitle-view/ -->
                            <subtitle-view id="subtitleView" on-click="subview"
                            cues='[{"id":"0","text":"<v Test>[Test]</v>"},
                                {"id":"1","text":"This blade has a dark past."},
                                {"id":"2","text":"It has shed much innocent blood."},
                                {"id":"3","text":"You´re a fool for traveling alone,\nso completely unprepared."},
                                {"id":"4","text":"You´re lucky your blood´s still flowing."},
                                {"id":"5","text":"Thank you."},{"id":"6","text":"So..."},
                                {"id":"7","text":"What brings you to\nthe land of the gatekeepers?"},
                                {"id":"8","text":"I´m searching for someone."},
                                {"id":"9","text":"Someone very dear?\nA kindred spirit?"},
                                {"id":"10","text":"A dragon."},
                                {"id":"11","text":"A dangerous quest for a lone hunter."},
                                {"id":"12","text":"I´ve been alone for\nas long as I can remember."},
                                {"id":"13","text":"We´re almost done. Shhh..."},
                                {"id":"14","text":"We´re almost done. Shhh..."},
                                {"id":"15","text":"We´re almost done. Shhh..."},
                                {"id":"16","text":"We´re almost done. Shhh..."}]'></subtitle-view>
                                <input type="range" min="0" max="13" id="changeCue">
                        </div>
                    </div>
                </template>

                <!-- If videoData.mime doesn't exists -->
                <template is="dom-if" if="{{isEmpty(videoData.mime)}}">
                    <video id="videoPlayer" poster="{{getThubnail(videoData.thumbnail)}}" controls>
                        <source src="videos/subtitle-video.mp4" type="video/mp4">
                        <track label="English subtitles" kind="subtitles" srclang="en" src="/subtitles/subtitles0.vtt">
                    </video>
                </template>

                <!-- SPEED CONTROLS source: http://cssdeck.com/labs/ufct35ys5t -->
                <div class="wrapper">
                    <div class="toggle_radio">
                        <input type="radio" on-click="speed_dobble" class="toggle_option" id="first_toggle" name="toggle_option">
                        <input type="radio" on-click="speed_normal" checked class="toggle_option" id="second_toggle" name="toggle_option">
                        <input type="radio" on-click="speed_half" class="toggle_option" id="third_toggle" name="toggle_option">
                        <label for="first_toggle">
                            <p class="other-title tri_toggle">2.0</p>
                        </label>
                        <label for="second_toggle">
                            <p class="other-title tri_toggle">1.0</p>
                        </label>
                        <label for="third_toggle">
                            <p class="other-title tri_toggle">0.5</p>
                        </label>
                        <div class="toggle_option_slider">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row col-md-12">
                        <!-- if user is logged in -->
                        <template is="dom-if" if="{{!isEmpty(user)}}">
                            <div class="col-md-3">
                                <p class="other-title">{{videoData.fullname}}</p>
                            </div>
                            <div class="row col-md-4">
                                <div class="dropdown show">

                                    <div class="dropdown">
                                        <button on-click="showDropdown" class="btn btn-secondary dropdown-toggle">Add to playlist</button>
                                        <div id="myDropdown" class="dropdown-content">
                                            <!-- Loop through all userPlaylists -->
                                            <template is="dom-repeat" items={{userPlaylists}}>
                                                <a class="dropdown-item" href="/api/php/playlistAdd.php?playlistid={{item.id}}&videoid={{videoData.id}}">{{item.title}}</a>
                                            </template>
                                            <a class="dropdown-item" style="background-color: #cccccc" href="api/php/playlistCreate.php?playlist-title=Title&playlist-description=Description&video-id={{videoData.id}}">Create new playlist</a>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-left: 1px;">
                                    <form action="api/php/videoDelete.php?videoid={{videoData.id}}" method="POST">
                                        <button type="submit" name="delete" value="delete" class="button btn btn-danger">
                                            Delete
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </template>
                        <!-- Else, if user is not logged in -->
                        <template is="dom-if" if="{{isEmpty(user)}}">
                            <div class="col-md-7">
                                <p class="other-title">{{videoData.fullname}}</p>
                            </div>
                        </template>
                        <div class="row col-md-2">
                            <p class="other-title">Views:</p>
                            <p class="other-title text-dark">{{videoData.views}}</p>
                        </div>
                        <div class="row col-md-3 justify-content-end">
                            <div>
                                <p class="other-title text-success">{{likes}}</p>
                            </div>
                            <div class="col-1"></div>
                            <div>
                                <!-- If user has liked -->
                                <template is="dom-if" if="{{hasLiked}}">
                                    <form action="api/php/videoVote.php?videoid={{videoData.id}}" method="POST">
                                        <button type="submit" name="revote" value="up" class="btn btn-success btn-sm">
                                            <img src="/icon/arrow-up.png" aria-hidden="true">
                                        </button>
                                    </form>
                                </template>
                                <!-- If user hasn't liked -->
                                <template is="dom-if" if="{{!hasLiked}}">
                                    <form action="api/php/videoVote.php?videoid={{videoData.id}}" method="POST">
                                        <button type="submit" name="upvote" value="upvote" class="btn btn-success btn-sm">
                                            <img src="/icon/arrow-up.png" aria-hidden="true">
                                        </button>
                                    </form>
                                </template>
                            </div>

                            <div>
                                <!-- If user has liked -->
                                <template is="dom-if" if="{{hasLiked}}">
                                    <form action="api/php/videoVote.php?videoid={{videoData.id}}" method="POST">
                                        <button type="submit" name="revote" value="down" class="button btn btn-danger btn-sm">
                                            <img src="/icon/arrow-down.png" aria-hidden="true">
                                        </button>
                                    </form>
                                </template>
                                <!-- If user hasn't liked -->
                                <template is="dom-if" if="{{!hasLiked}}">
                                    <form action="api/php/videoVote.php?videoid={{videoData.id}}" method="POST">
                                        <button type="submit" name="downvote" value="downvote" class="button btn btn-danger btn-sm">
                                            <img src="/icon/arrow-down.png" aria-hidden="true">
                                        </button>
                                    </form>
                                </template>
                            </div>
                            <div class="col-1"></div>
                            <div>
                                <p class="other-title text-danger">{{dislikes}}</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-md-12">
                        <h2 class="other-title">Description</h2>
                        <!-- If user is in edit mode -->
                        <template is="dom-if" if="{{isEditMode}}">
                            <textarea type="text" class="form-control" id="video-description" name="video-description" form="videoUpdate">{{videoData.description}}</textarea>
                            <input type="submit" form="videoUpdate" class="btn btn-success" value="Update video" />

                            <div class="custom-file" id="fileuploader">
                                <p>Upload subtitles (.vtt)</p>
                                <input type="file" class="" form="videoUpdate" id="subs" name="video-subs" accept="text/vtt">
                                <label class="custom-file-label" for="customFile">
                                    <span class="file-custom" data-content-value="Choose Video..."></span>
                                </label>
                            </div>
                        </template>
                        <!-- If user isn't in edit mode -->
                        <template is="dom-if" if="{{!isEditMode}}">
                            <p>{{videoData.description}}</p>
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-md-9 col-xs-12">
                    <div class="col-12 ml-lg-0">
                        <h1 class="display-4">Comments</h1>
                    </div>
                    <!-- If user is logged in -->
                    <template is="dom-if" if="{{!isEmpty(user)}}">
                        <form class="comment-submit" action="api/php/commentPost.php?videoid={{videoData.id}}" method="post">
                            <div class="form-group">
                                <label for="textarea-comment">Comment:</label>
                                <textarea class="form-control" rows="5" id="textarea-comment" name="comment"></textarea>
                            </div>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </form>
                    </template>
                    <br>
                    <br>
                    <!-- If there are no comments, we display an error message to the user.-->
                    <template is="dom-if" if="{{isEmpty(comments)}}">
                        <div class="comment">
                            <p class="comment-name">Thats a shame....</p>
                            <p class="comment-text">No comment found for this video...</p>
                        </div>
                    </template>
                    <!-- else, we want to loop through each comment and display them on the screen. -->
                    <template is="dom-if" if="{{!isEmpty(comments)}}">
                        <template is="dom-repeat" items="{{comments}}">
                            <div class="comment">
                                <p class="comment-name">{{item.fullname}}</p>
                                <div class="row col">
                                    <p class="comment-text col-11">{{item.comment}}</p>
                                    <!-- If comment userid is current user -->
                                    <template is="dom-if" if="{{equals(item.userid, userID)}}">
                                        <div class="col-1">
                                            <form action="api/php/commentDelete.php?videoid={{videoData.id}}" method="post">
                                                <button type="submit" name="commentid" value="{{item.id}}" class="btn btn-danger">X</button>
                                            </form>
                                        </div>
                                    </template>
                                </div>
                                <p class="comment-time" style="font-size: 10px; color: grey;">{{item.time}}</p>
                            </div>
                        </template>
                    </template>


                </div>
            </div>

        </div>
        <!-- /container -->

    </template>

    <script>
        class MyVideo extends Polymer.Element {
            static get is() {
                return 'my-video';
            }

            static get properties() {
                return {
                    URL: {
                        type: String,
                        value: '/api/video.php?id='
                    },
                    user: {
                        type: Object,
                        value: null
                    },
                    userID: {
                        type: String,
                        value: ""
                    },
                    videoData: {
                        type: Object,
                        value: null
                    },
                    likes: {
                        type: Number,
                        value: 0
                    },
                    dislikes: {
                        type: Number,
                        value: 0
                    },
                    hasLiked: {
                        type: Boolean,
                        value: false
                    },
                    comments: {
                        type: Array < Number > Object,
                        value: null,
                    },
                    userPlaylists: {
                        type: Object,
                        value: null
                    },
                    isEditMode: {
                        type: Boolean,
                        value: false
                    }
                };
            }

            ready() {
                super.ready();
                
            }


            isEmpty(item) {
                if (item == "" || item == null) {
                    console.log(item + " is empty");
                    return true;
                } else {
                    console.log(item + " is not empty");
                    return false;
                }
            }

            equals(item1, item2) {
                if (item1 == item2) {
                    return true;
                } else {
                    return false;
                }
            }

            getThubnail(thumbnail) {
                // If thumbnail doesn't exist, give default
                if (thumbnail == null || thumbnail == "") {
                    return "/images/thumbnail/test.jpg";
                } else {
                    // Else thubnail exists, give thubnail
                    return "data:image/png;base64," + thumbnail;
                }
            }

            //sets properties based on ajax response
            handleResponse(res) {
                this.set('user', res.detail.response.user);
                // If user is logged in
                if (this.user != null) {
                    this.set('userID', res.detail.response.userid);
                    this.set('hasLiked', res.detail.response.hasLiked);
                    this.set('userPlaylists', res.detail.response.userPlaylists);
                    this.set('isEditMode', res.detail.response.editMode);
                }
                this.set('videoData', res.detail.response.videoData);
                this.set('likes', res.detail.response.likes);
                this.set('dislikes', res.detail.response.dislikes);
                this.set('comments', res.detail.response.comments);
            }

            speed_dobble() {
                console.log("Speed Dobble");
                //doubles speed of video playing
                this.shadowRoot.getElementById('videoPlayer').playbackRate = 2.0;
            }

            speed_normal() {
                console.log("Speed Normal");
                //normal speed of video playing
                this.shadowRoot.getElementById('videoPlayer').playbackRate = 1.0;
            }

            speed_half() {
                console.log("Speed Half");
                //halves speed of video playing
                this.shadowRoot.getElementById('videoPlayer').playbackRate = 0.5;
            }

            showDropdown() {
                /* When the user clicks on the button, 
                toggle between hiding and showing the dropdown content */

                this.shadowRoot.getElementById("myDropdown").classList.toggle("show");

            }

            subview() {
                var video = this.shadowRoot.getElementById('videoPlayer');
                var cue = this.shadowRoot.getElementById('changeCue');
                var sub = this.shadowRoot.getElementById("subtitleView");

                var secPerId = video.duration / 13;
                

                sub.addEventListener('cueSelected', function (e) {
                    console.log("hei", e.detail.id);
                    cue.value = e.detail.id;
                    video.currentTime = secPerId * e.detail.id;
                });
                cue.addEventListener("change", e=>{
                    sub.changeCue(e.target.value);
                    video.currentTime = secPerId * e.target.value;
                });

                video.addEventListener('timeupdate', function () {
                    cue.value = Math.floor(video.currentTime/secPerId);
                });
            }

        }

        window.customElements.define(MyVideo.is, MyVideo);
    </script>
</dom-module>