<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/granite-bootstrap/granite-bootstrap.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
    <template>
        <style include="granite-bootstrap"></style>
        <style>
            .card {
                margin: 24px;
                padding: 16px;
                color: #757575;
                border-radius: 5px;
                background-color: #fff;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
            }

            .circle {
                display: inline-block;
                width: 64px;
                height: 64px;
                text-align: center;
                color: #555;
                border-radius: 50%;
                background: #ddd;
                font-size: 30px;
                line-height: 64px;
            }

            h1 {
                margin: 16px 0;
                color: #212121;
                font-size: 22px;
            }

            .content-header {
                font-family: 'Oleo Script', cursive;
                color: #ffffff;
                font-size: 45px;
            }

            .content-header-logo {
                font-family: 'Oleo Script', cursive;
                font-size: 25px;
            }

            .text-limit {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 35ch;
            }

            .form-signin {
                max-width: 330px;
                padding: 15px;
                margin: 0 auto;
            }

            .form-signin .form-signin-heading,
            .form-signin .checkbox {
                margin-bottom: 10px;
            }

            .form-signin .checkbox {
                font-weight: normal;
            }

            .form-signin .form-control {
                position: relative;
                height: auto;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                padding: 10px;
                font-size: 16px;
            }

            .form-signin .form-control:focus {
                z-index: 2;
            }

            .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

            .form-line {
                border-right: 1px solid #ffffff;
            }

            #jumbo {
                padding-top: 1%;
                padding-bottom: 1%;
            }

            .comment {
                width: 100%;
                border-bottom: 1px solid #dddddd;
                margin-bottom: 3%;
            }

            .comment-name {
                font-size: 14px;
                color: #666666;
                margin-bottom: 1%;
            }

            .comment-text {
                margin-top: 1%;
            }

            .other-title {
                font-size: 30px;
                font-family: 'Oleo Script', cursive;
                color: #999999;
            }

            .link-line-none {
                text-decoration: none !important
            }

            .custom-file-label {
                overflow: hidden;
            }
        </style>
    </template>
</dom-module>