<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="subtitle-view">
  <template>
    <style>
      :host {
        display: block;
      }
      ul {
        list-style-type: none;
        padding: 2px;
        margin: 0;
      }
      li.active {
        background-color: #EEE;
      }
    </style>
    <ul id="cueList">
      <template is="dom-repeat" items="[[cues]]" as="cue">
        <li data-id$="[[cue.id]]">[[cue.text]]</li>
      </template>
    </ul>
  </template>

  <script>
    /**
     * `subtitle-view`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class SubtitleView extends Polymer.Element {
      static get is() { return 'subtitle-view'; }
      static get properties() {
        return {
          cues: {
            type: Array
          }
        };
      }
      ready() {
        super.ready();
        Polymer.RenderStatus.afterNextRender(this, function() {
          // this.$ gives easy access to all elements with ID
          this.$.cueList.addEventListener('click', this.handleClick.bind(this));
          // Bind this in handleClick to current value of this
          // If not the this in handleClick would be the cueList
        });
      }

      handleClick (e) {
        this.dispatchEvent(new CustomEvent('cueSelected',
          // Dispatch (send) a customEvent of cueSelected with the given details
          {detail:
            {id: e.path[0].dataset.id}
          })
        );
        this.changeCue(e.path[0].dataset.id);  // Update selected cue
        //console.log (e);
      }

      changeCue(activeCue) {  // Can be called both internally and externally
        this.$.cueList.querySelectorAll('li').forEach(li=>{
          li.classList.remove('active');
        });
        this.$.cueList.querySelector(`li[data-id="${activeCue}"]`).classList.add('active');
      }
    }

    window.customElements.define(SubtitleView.is, SubtitleView);
  </script>
</dom-module>
